In [1]:
import pandas as pd

df = pd.read_csv('customer_shopping_behavior.csv')
print(df.head())

   Customer ID  Age Gender Item Purchased  Category  Purchase Amount (USD)  \
0            1   55   Male         Blouse  Clothing                     53
1            2   19   Male        Sweater  Clothing                     64
2            3   50   Male          Jeans  Clothing                     73
3            4   21   Male        Sandals  Footwear                     90
4            5   45   Male         Blouse  Clothing                     49

        Location Size      Color  Season  Review Rating Subscription Status  \
0       Kentucky    L       Gray  Winter            3.1                 Yes
1          Maine    L     Maroon  Winter            3.1                 Yes
2  Massachusetts    S     Maroon  Spring            3.1                 Yes
3   Rhode Island    M     Maroon  Spring            3.5                 Yes
4         Oregon    M  Turquoise  Spring            2.7                 Yes

   Shipping Type Discount Applied Promo Code Used  Previous Purchases  \
0        Express              Yes             Yes                  14
1        Express              Yes             Yes                   2
2  Free Shipping              Yes             Yes                  23
3   Next Day Air              Yes             Yes                  49
4  Free Shipping              Yes             Yes                  31

  Payment Method Frequency of Purchases
0          Venmo            Fortnightly
1           Cash            Fortnightly
2    Credit Card                 Weekly
3         PayPal                 Weekly
4         PayPal               Annually

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [3]:
df.describe()

,Customer ID,Age,Purchase Amount (USD),Review Rating,Previous Purchases
count,3900.000000,3900.000000,3900.000000,3863.000000,3900.000000
mean,1950.500000,44.068462,59.764359,3.750065,25.351538
std,1125.977353,15.207589,23.685392,0.716983,14.447125
min,1.000000,18.000000,20.000000,2.500000,1.000000
25%,975.750000,31.000000,39.000000,3.100000,13.000000
50%,1950.500000,44.000000,60.000000,3.800000,25.000000
75%,2925.250000,57.000000,81.000000,4.400000,38.000000
max,3900.000000,70.000000,100.000000,5.000000,50.000000

In [5]:
## Summary statistics using .describe()
df.describe(include='all')

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
count,3900.000000,3900.000000,3900,3900,3900,3900.000000,3900,3900,3900,3900,3863.000000,3900,3900,3900,3900,3900.000000,3900,3900
unique,NaN,NaN,2,25,4,NaN,50,4,25,4,NaN,2,6,2,2,NaN,6,7
top,NaN,NaN,Male,Blouse,Clothing,NaN,Montana,M,Olive,Spring,NaN,No,Free Shipping,No,No,NaN,PayPal,Every 3 Months
freq,NaN,NaN,2652,171,1737,NaN,96,1755,177,999,NaN,2847,675,2223,2223,NaN,677,584
mean,1950.500000,44.068462,NaN,NaN,NaN,59.764359,NaN,NaN,NaN,NaN,3.750065,NaN,NaN,NaN,NaN,25.351538,NaN,NaN
std,1125.977353,15.207589,NaN,NaN,NaN,23.685392,NaN,NaN,NaN,NaN,0.716983,NaN,NaN,NaN,NaN,14.447125,NaN,NaN
min,1.000000,18.000000,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,NaN,2.500000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
25%,975.750000,31.000000,NaN,NaN,NaN,39.000000,NaN,NaN,NaN,NaN,3.100000,NaN,NaN,NaN,NaN,13.000000,NaN,NaN
50%,1950.500000,44.000000,NaN,NaN,NaN,60.000000,NaN,NaN,NaN,NaN,3.800000,NaN,NaN,NaN,NaN,25.000000,NaN,NaN
75%,2925.250000,57.000000,NaN,NaN,NaN,81.000000,NaN,NaN,NaN,NaN,4.400000,NaN,NaN,NaN,NaN,38.000000,NaN,NaN
max,3900.000000,70.000000,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,50.000000,NaN,NaN

In [6]:
# Checking if missing data or null values are present in the dataset
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [10]:
# Imputing missing values in Review Rating column with the median rating of the product category
df['Review Rating'] = df.groupby('Category')['Review Rating'].transform(lambda x: x.fillna(x.median()))

In [11]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [13]:
# Renaming columns according to snake casing for better readability and documentation
df.columns = df.columns.str.lower()         
df.columns = df.columns.str.replace(' ', '_') 
df = df.rename(columns={'purchase_amount_(usd)': 'purchase_amount'})

In [14]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [15]:
# create a new column age_group
labels = ['Young Adult','Adult','Middle-aged','senior']
df['age_group'] = pd.qcut(df['age'],q=4,labels = labels)

In [16]:
df[['age','age_group']].head(10)

   age    age_group
0   55  Middle-aged
1   19  Young Adult
2   50  Middle-aged
3   21  Young Adult
4   45  Middle-aged
5   46  Middle-aged
6   63       senior
7   27  Young Adult
8   26  Young Adult
9   57  Middle-aged

In [17]:
# create column purchase_frequency_days
frequency_mapping = {
    'Fortnightly': 14,
    'Weekly': 7,
    'Monthly': 30,
    'Quarterly': 90,
    'Bi-Weekly': 14,
    'Annually': 365,
    'Every 3 Months': 90
}

# map the text values to numeric days
df['purchase_frequency_days'] = df['frequency_of_purchases'].map(frequency_mapping)

# show first 10 rows to verify
df[['purchase_frequency_days', 'frequency_of_purchases']].head(10)

   purchase_frequency_days frequency_of_purchases
0                       14            Fortnightly
1                       14            Fortnightly
2                        7                 Weekly
3                        7                 Weekly
4                      365               Annually
5                        7                 Weekly
6                       90              Quarterly
7                        7                 Weekly
8                      365               Annually
9                       90              Quarterly

In [18]:
df[['discount_applied','promo_code_used']].head(10)

  discount_applied promo_code_used
0              Yes             Yes
1              Yes             Yes
2              Yes             Yes
3              Yes             Yes
4              Yes             Yes
5              Yes             Yes
6              Yes             Yes
7              Yes             Yes
8              Yes             Yes
9              Yes             Yes

In [19]:
(df['discount_applied'] == df['promo_code_used']).all()

np.True_

In [20]:
df = df.drop('promo_code_used',axis=1)

In [21]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchase_frequency_days'],
      dtype='object')

In [22]:
pip install psycopg2-binary sqlalchemy

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.11-cp313-cp313-win_amd64.whl.metadata (5.1 kB)
Requirement already satisfied: sqlalchemy in c:\users\wings\appdata\local\programs\python\python313\lib\site-packages (2.0.44)
Requirement already satisfied: greenlet>=1 in c:\users\wings\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\wings\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy) (4.15.0)
Downloading psycopg2_binary-2.9.11-cp313-cp313-win_amd64.whl (2.7 MB)
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
   --- ------------------------------------ 0.3/2.7 MB ? eta -:--:--
   ------- -------------------------------- 0.5/2.7 MB 889.7 kB/s eta 0:00:03
   ----------- ---------------------------- 0.8/2.7 MB 987.9 kB/s eta 0:00:02
   --------------- ------------------------ 1.0/2.7 MB 1.1 MB/s eta 0:00:02
   ------------------- -------------------- 1.3/2.7 MB 1.1 MB/s eta 0:00:02
   ----------------------- ---------------- 1.6/2.7 MB 1.2 MB/s eta 0:00:01
   --------------------------- ------------ 1.8/2.7 MB 1.2 MB/s eta 0:00:01
   ------------------------------ --------- 2.1/2.7 MB 1.2 MB/s eta 0:00:01
   ---------------------------------- ----- 2.4/2.7 MB 1.2 MB/s eta 0:00:01
   -------------------------------------- - 2.6/2.7 MB 1.2 MB/s eta 0:00:01
   ---------------------------------------- 2.7/2.7 MB 1.2 MB/s  0:00:02
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.11
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [31]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.5.0-cp313-cp313-win_amd64.whl.metadata (7.7 kB)
Downloading mysql_connector_python-9.5.0-cp313-cp313-win_amd64.whl (16.5 MB)
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
    --------------------------------------- 0.3/16.5 MB ? eta -:--:--
   - -------------------------------------- 0.5/16.5 MB 901.3 kB/s eta 0:00:18
   - -------------------------------------- 0.8/16.5 MB 968.5 kB/s eta 0:00:17
   -- ------------------------------------- 1.0/16.5 MB 1.1 MB/s eta 0:00:15
   --- ------------------------------------ 1.3/16.5 MB 1.1 MB/s eta 0:00:15
   --- ------------------------------------ 1.6/16.5 MB 1.1 MB/s eta 0:00:15
   ---- ----------------------------------- 1.8/16.5 MB 1.1 MB/s eta 0:00:14
   ---- ----------------------------------- 1.8/16.5 MB 1.1 MB/s eta 0:00:14
   ----- ---------------------------------- 2.1/16.5 MB 1.1 MB/s eta 0:00:14
   ----- ---------------------------------- 2.4/16.5 MB 1.1 MB/s eta 0:00:13
   ------ --------------------------------- 2.6/16.5 MB 1.1 MB/s eta 0:00:13
   ------ --------------------------------- 2.6/16.5 MB 1.1 MB/s eta 0:00:13
   ------ --------------------------------- 2.9/16.5 MB 1.0 MB/s eta 0:00:14
   ------- -------------------------------- 3.1/16.5 MB 1.0 MB/s eta 0:00:13
   -------- ------------------------------- 3.4/16.5 MB 1.0 MB/s eta 0:00:13
   -------- ------------------------------- 3.7/16.5 MB 1.0 MB/s eta 0:00:13
   -------- ------------------------------- 3.7/16.5 MB 1.0 MB/s eta 0:00:13
   --------- ------------------------------ 3.9/16.5 MB 1.0 MB/s eta 0:00:13
   ---------- ----------------------------- 4.2/16.5 MB 1.0 MB/s eta 0:00:13
   ---------- ----------------------------- 4.2/16.5 MB 1.0 MB/s eta 0:00:13
   ---------- ----------------------------- 4.5/16.5 MB 996.8 kB/s eta 0:00:13
   ----------- ---------------------------- 4.7/16.5 MB 988.7 kB/s eta 0:00:12
   ----------- ---------------------------- 4.7/16.5 MB 988.7 kB/s eta 0:00:12
   ------------ --------------------------- 5.0/16.5 MB 975.0 kB/s eta 0:00:12
   ------------ --------------------------- 5.2/16.5 MB 977.7 kB/s eta 0:00:12
   ------------- -------------------------- 5.5/16.5 MB 983.0 kB/s eta 0:00:12
   ------------- -------------------------- 5.5/16.5 MB 983.0 kB/s eta 0:00:12
   ------------- -------------------------- 5.8/16.5 MB 954.0 kB/s eta 0:00:12
   -------------- ------------------------- 6.0/16.5 MB 956.6 kB/s eta 0:00:11
   -------------- ------------------------- 6.0/16.5 MB 956.6 kB/s eta 0:00:11
   --------------- ------------------------ 6.3/16.5 MB 960.7 kB/s eta 0:00:11
   --------------- ------------------------ 6.6/16.5 MB 970.7 kB/s eta 0:00:11
   ---------------- ----------------------- 6.8/16.5 MB 965.0 kB/s eta 0:00:11
   ----------------- ---------------------- 7.1/16.5 MB 976.1 kB/s eta 0:00:10
   ----------------- ---------------------- 7.3/16.5 MB 978.8 kB/s eta 0:00:10
   ------------------ --------------------- 7.6/16.5 MB 983.4 kB/s eta 0:00:10
   ------------------- -------------------- 7.9/16.5 MB 990.6 kB/s eta 0:00:09
   ------------------- -------------------- 8.1/16.5 MB 1.0 MB/s eta 0:00:09
   -------------------- ------------------- 8.4/16.5 MB 1.0 MB/s eta 0:00:09
   -------------------- ------------------- 8.4/16.5 MB 1.0 MB/s eta 0:00:09
   -------------------- ------------------- 8.7/16.5 MB 996.7 kB/s eta 0:00:08
   --------------------- ------------------ 8.9/16.5 MB 998.1 kB/s eta 0:00:08
   --------------------- ------------------ 8.9/16.5 MB 998.1 kB/s eta 0:00:08
   ---------------------- ----------------- 9.4/16.5 MB 998.1 kB/s eta 0:00:08
   ---------------------- ----------------- 9.4/16.5 MB 998.1 kB/s eta 0:00:08
   ---------------------- ----------------- 9.4/16.5 MB 998.1 kB/s eta 0:00:08
   ----------------------- ---------------- 9.7/16.5 MB 965.1 kB/s eta 0:00:08
   ------------------------ --------------- 10.0/16.5 MB 972.1 kB/s eta 0:00:07
   ------------------------ --------------- 10.0/16.5 MB 972.1 kB/s eta 0:00:07
   ------------------------ --------------- 10.2/16.5 MB 964.6 kB/s eta 0:00:07
   ------------------------- -------------- 10.5/16.5 MB 967.0 kB/s eta 0:00:07
   -------------------------- ------------- 10.7/16.5 MB 966.4 kB/s eta 0:00:06
   -------------------------- ------------- 10.7/16.5 MB 966.4 kB/s eta 0:00:06
   -------------------------- ------------- 11.0/16.5 MB 964.3 kB/s eta 0:00:06
   --------------------------- ------------ 11.3/16.5 MB 965.2 kB/s eta 0:00:06
   --------------------------- ------------ 11.5/16.5 MB 966.6 kB/s eta 0:00:06
   --------------------------- ------------ 11.5/16.5 MB 966.6 kB/s eta 0:00:06
   ---------------------------- ----------- 11.8/16.5 MB 961.0 kB/s eta 0:00:05
   ----------------------------- ---------- 12.1/16.5 MB 964.9 kB/s eta 0:00:05
   ----------------------------- ---------- 12.3/16.5 MB 962.4 kB/s eta 0:00:05
   ----------------------------- ---------- 12.3/16.5 MB 962.4 kB/s eta 0:00:05
   ------------------------------ --------- 12.6/16.5 MB 964.4 kB/s eta 0:00:05
   ------------------------------- -------- 12.8/16.5 MB 968.3 kB/s eta 0:00:04
   ------------------------------- -------- 13.1/16.5 MB 969.8 kB/s eta 0:00:04
   -------------------------------- ------- 13.4/16.5 MB 973.1 kB/s eta 0:00:04
   --------------------------------- ------ 13.6/16.5 MB 978.7 kB/s eta 0:00:03
   --------------------------------- ------ 13.9/16.5 MB 979.3 kB/s eta 0:00:03
   ---------------------------------- ----- 14.2/16.5 MB 978.7 kB/s eta 0:00:03
   ---------------------------------- ----- 14.4/16.5 MB 981.0 kB/s eta 0:00:03
   ---------------------------------- ----- 14.4/16.5 MB 981.0 kB/s eta 0:00:03
   ----------------------------------- ---- 14.7/16.5 MB 981.9 kB/s eta 0:00:02
   ------------------------------------ --- 14.9/16.5 MB 986.6 kB/s eta 0:00:02
   ------------------------------------ --- 15.2/16.5 MB 989.0 kB/s eta 0:00:02
   ------------------------------------- -- 15.5/16.5 MB 994.1 kB/s eta 0:00:02
   -------------------------------------- - 15.7/16.5 MB 995.4 kB/s eta 0:00:01
   -------------------------------------- - 16.0/16.5 MB 996.4 kB/s eta 0:00:01
   ---------------------------------------  16.3/16.5 MB 997.0 kB/s eta 0:00:01
   ---------------------------------------- 16.5/16.5 MB 999.5 kB/s  0:00:16
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.5.0

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [33]:
import mysql.connector as connection

In [35]:
import mysql.connector as connection

try:
    # Connect to MySQL server (no database yet)
    mydb = connection.connect(
        host="localhost",
        user="root",
        password="Ghaman@123",
        use_pure=True
    )

    # Create cursor
    cursor = mydb.cursor()

    # Create a new database
    query = "CREATE DATABASE customer_behavior"
    cursor.execute(query)
    print("‚úÖ Database 'customer_behavior' created successfully!")

except Exception as e:
    print("‚ùå Error while connecting to MySQL:", e)

finally:
    if mydb.is_connected():
        cursor.close()
        mydb.close()
        print("üîí MySQL connection closed.")

‚úÖ Database 'customer_behavior' created successfully!
üîí MySQL connection closed.

In [37]:
import pandas as pd
from sqlalchemy import create_engine

# Step 1: Load CSV file
df = pd.read_csv("customer_shopping_behavior.csv")
print("‚úÖ CSV file loaded successfully!")

# Step 2: Connect to MySQL (use %40 instead of @)
engine = create_engine("mysql+mysqlconnector://root:Ghaman%40123@localhost/customer_behavior")

# Step 3: Upload to MySQL
df.to_sql('customer_data', con=engine, index=False, if_exists='replace')

print("‚úÖ Data uploaded successfully to MySQL table 'customer_data'!")

# Step 4: Verify
check_df = pd.read_sql("SELECT * FROM customer_data LIMIT 5;", con=engine)
print(check_df)

‚úÖ CSV file loaded successfully!
‚úÖ Data uploaded successfully to MySQL table 'customer_data'!
   Customer ID  Age Gender Item Purchased  Category  Purchase Amount (USD)  \
0            1   55   Male         Blouse  Clothing                     53
1            2   19   Male        Sweater  Clothing                     64
2            3   50   Male          Jeans  Clothing                     73
3            4   21   Male        Sandals  Footwear                     90
4            5   45   Male         Blouse  Clothing                     49

        Location Size      Color  Season  Review Rating Subscription Status  \
0       Kentucky    L       Gray  Winter            3.1                 Yes
1          Maine    L     Maroon  Winter            3.1                 Yes
2  Massachusetts    S     Maroon  Spring            3.1                 Yes
3   Rhode Island    M     Maroon  Spring            3.5                 Yes
4         Oregon    M  Turquoise  Spring            2.7                 Yes

   Shipping Type Discount Applied Promo Code Used  Previous Purchases  \
0        Express              Yes             Yes                  14
1        Express              Yes             Yes                   2
2  Free Shipping              Yes             Yes                  23
3   Next Day Air              Yes             Yes                  49
4  Free Shipping              Yes             Yes                  31

  Payment Method Frequency of Purchases
0          Venmo            Fortnightly
1           Cash            Fortnightly
2    Credit Card                 Weekly
3         PayPal                 Weekly
4         PayPal               Annually

SyntaxError: invalid syntax (3198708506.py, line 1)